<mapper namespace="com.lagou.dao.IUserDao">
    <insert id="add" parameterType="com.lagou.entity.User">
        insert into user (id, username,password,birthday) values
        (#{id}, #{username},#{password},#{birthday})
    </insert>
    <update id="updateById" parameterType="com.lagou.entity.User">
        update user set username = #{username},password = #{password},birthday = #{birthday}
        where id = #{id}
    </update>
    <delete id="deleteById" parameterType="string">
        delete from user where id = #{id}
    </delete>
</mapper>